4_led_par_mail.json
[{"id":"66c0d90f.42bbf8","type":"tab","label":"pilotage mail 4 leds","disabled":false,"info":""},{"id":"d19fd7c5.ea2b28","type":"e-mail in","z":"66c0d90f.42bbf8","name":"Recieve mail","protocol":"IMAP","server":"imap.mail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"10","fetch":"auto","inputs":0,"x":130,"y":220,"wires":[["bdfe6c8c.8c4af"]]},{"id":"bdfe6c8c.8c4af","type":"function","z":"66c0d90f.42bbf8","name":"","func":"var cmd = msg.payload.substr(0,3);\nvar port = msg.payload.substr(3,1);\nvar On = {payload: \"1\"};\nvar Off = {payload: \"0\"};\nif(cmd == \"ON=\")\n{\nif(port == \"1\")\nreturn [On, null, null, null];\nelse if(port == \"2\")\nreturn [null, On, null, null];\nelse if(port == \"3\")\nreturn [null, null, On, null];\nelse if(port == \"4\")\nreturn [null, null, null, On]\n}\nif(cmd == \"OF=\")\n{\nif(port == \"1\")\nreturn [Off, null, null, null];\nelse if(port == \"2\")\nreturn[null, Off, null, null];\nelse if(port == \"3\")\nreturn [null, null, Off, null];\nelse if(port == \"4\")\nreturn [null, null, null, Off]\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[["a497cd1c.6d0e2"],["b1eac904.870cc8"],["8679dc6b.7927a"],["bef0f075.0cf3c"]]},{"id":"a497cd1c.6d0e2","type":"rpi-gpio out","z":"66c0d90f.42bbf8","name":"GPIO 04 : 1","pin":"7","set":true,"level":"0","freq":"","out":"out","x":570,"y":120,"wires":[]},{"id":"b1eac904.870cc8","type":"rpi-gpio out","z":"66c0d90f.42bbf8","name":"GPIO 17 : 2","pin":"11","set":true,"level":"0","freq":"","out":"out","x":570,"y":180,"wires":[]},{"id":"8679dc6b.7927a","type":"rpi-gpio out","z":"66c0d90f.42bbf8","name":"GPIO 27 : 3","pin":"13","set":"","level":"0","freq":"","out":"out","x":570,"y":240,"wires":[]},{"id":"bef0f075.0cf3c","type":"rpi-gpio out","z":"66c0d90f.42bbf8","name":"GPIO 22 : 4","pin":"15","set":"","level":"0","freq":"","out":"out","x":570,"y":300,"wires":[]}]