conversion_F_C.json
[{"id":"84a16f41.ef415","type":"tab","label":"date","disabled":false,"info":""},{"id":"352d25bb.a4da2a","type":"inject","z":"84a16f41.ef415","name":"","topic":"","payload":"temperature conversion","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":300,"wires":[["2bb8ee41.717072"]]},{"id":"2bb8ee41.717072","type":"change","z":"84a16f41.ef415","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[["f41cf821.f61ee8"]]},{"id":"f41cf821.f61ee8","type":"function","z":"84a16f41.ef415","name":"tranformation","func":"var F = msg.payload;\nvar C = F*1.8+32;\nmsg.payload = F + \"C = \"+ C.toString() + \"F\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":200,"wires":[["914fc9c1.570ff8"]]},{"id":"914fc9c1.570ff8","type":"debug","z":"84a16f41.ef415","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":140,"wires":[]}]