feu_3_couleurs.json
[{"id":"ce6c4d23.feae","type":"tab","label":"feu clignotant","disabled":false,"info":"feu clignotant 3 couleurs"},{"id":"e4d8e3a8.70643","type":"inject","z":"ce6c4d23.feae","name":"START","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["15b1a2bd.ebf7cd","726a7069.8fe8a"]]},{"id":"15b1a2bd.ebf7cd","type":"delay","z":"ce6c4d23.feae","name":"retard 17s","pauseType":"delay","timeout":"17","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":180,"wires":[["16a8eccb.e162f3","3796dbe2.712614"]]},{"id":"3796dbe2.712614","type":"delay","z":"ce6c4d23.feae","name":"retard 3s","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":280,"wires":[["faff49f6.f116e8","8196e947.e16b18"]]},{"id":"8196e947.e16b18","type":"delay","z":"ce6c4d23.feae","name":"retard 15s","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":380,"wires":[["8d520a77.1775d8","16a8eccb.e162f3"]]},{"id":"8d520a77.1775d8","type":"delay","z":"ce6c4d23.feae","name":"retard 3s","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":480,"wires":[["15b1a2bd.ebf7cd","726a7069.8fe8a"]]},{"id":"726a7069.8fe8a","type":"trigger","z":"ce6c4d23.feae","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":510,"y":80,"wires":[["324ee850.fa17d8"]]},{"id":"16a8eccb.e162f3","type":"trigger","z":"ce6c4d23.feae","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":500,"y":180,"wires":[["cc686980.998038"]]},{"id":"faff49f6.f116e8","type":"trigger","z":"ce6c4d23.feae","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"15","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":510,"y":280,"wires":[["a1c54ddf.c5522"]]},{"id":"324ee850.fa17d8","type":"rpi-gpio out","z":"ce6c4d23.feae","name":"RED","pin":"7","set":true,"level":"0","freq":"","out":"out","x":730,"y":80,"wires":[]},{"id":"cc686980.998038","type":"rpi-gpio out","z":"ce6c4d23.feae","name":"ORANGE","pin":"11","set":true,"level":"0","freq":"","out":"out","x":740,"y":180,"wires":[]},{"id":"a1c54ddf.c5522","type":"rpi-gpio out","z":"ce6c4d23.feae","name":"GREEN","pin":"13","set":true,"level":"0","freq":"","out":"out","x":740,"y":280,"wires":[]},{"id":"2ceb704f.db266","type":"comment","z":"ce6c4d23.feae","name":"explication","info":"_ceci simule un feu de circulation (anglais) à 3 couleurs_****\n\n**faire en continue :**\n    rouge pour 17s\n    rouge et orange pour 3s\n    vert pour 15s\n    orange pour 3s\n**fin faire**\n\n**numéro associé à un raspberry 4 :**\nle rouge est sur gpio4\nl'orange est sur gpio17\nle vert est sur gpio 27","x":550,"y":400,"wires":[]}]