led-raspberry.json
[{"id":"84a16f41.ef415","type":"tab","label":"allumer une led via raspberry pi","disabled":false,"info":""},{"id":"70b2eeb4.8764e","type":"inject","z":"84a16f41.ef415","name":"ON","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["b2e9e2b6.c0193"]]},{"id":"33228f61.476c3","type":"inject","z":"84a16f41.ef415","name":"OFF","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["b2e9e2b6.c0193"]]},{"id":"b2e9e2b6.c0193","type":"rpi-gpio out","z":"84a16f41.ef415","name":"","pin":"3","set":"","level":"0","freq":"","out":"out","x":370,"y":160,"wires":[]}]