mail - buzz - mail.json
[{"id":"84a16f41.ef415","type":"tab","label":"email with buzzer","disabled":false,"info":""},{"id":"5305ce8f.0404e","type":"inject","z":"84a16f41.ef415","name":"every second","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":178,"y":400,"wires":[["2ec73f3.b210dc"]]},{"id":"ac6833ea.923f8","type":"rpi-gpio out","z":"84a16f41.ef415","name":"","pin":"5","set":"","level":"0","freq":"","out":"out","x":568,"y":440,"wires":[]},{"id":"15950f68.0a4641","type":"rpi-gpio out","z":"84a16f41.ef415","name":"","pin":"3","set":"","level":"0","freq":"","out":"out","x":568,"y":360,"wires":[]},{"id":"2ec73f3.b210dc","type":"function","z":"84a16f41.ef415","name":"Toogle LEDs","func":"if(context.led1 == 0)\n{\n    context.led1 = 1;\n    context.led2 = 0;\n}\nelse\n{\n    context.led1 = 0;\n    context.led2 = 1;\n}\nvar msg1 = {payload:context.led1};\nvar msg2 = {payload:context.led2};\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":388,"y":400,"wires":[["15950f68.0a4641"],["ac6833ea.923f8"]]},{"id":"fbf272ef.c6707","type":"e-mail in","z":"84a16f41.ef415","name":"Check Mail ON or OF","protocol":"IMAP","server":"imap.mail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"10","fetch":"auto","inputs":0,"x":120,"y":40,"wires":[["907d85b3.015378"]]},{"id":"907d85b3.015378","type":"function","z":"84a16f41.ef415","name":"wait for email","func":"var cmd = msg.payload.substr(0,2);\nvar On = {payload: \"1\"};\nvar Off = {payload: \"0\"};\n\nif (cmd == \"ON\")\n    return On;\nelse if (cmd == \"OF\")\n    return Off;","outputs":1,"noerr":0,"x":330,"y":40,"wires":[["43434452.55ca8c"]]},{"id":"43434452.55ca8c","type":"rpi-gpio out","z":"84a16f41.ef415","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":490,"y":40,"wires":[]},{"id":"fe094fb4.0998c","type":"function","z":"84a16f41.ef415","name":"Buzzer state","func":"if (msg.payload ==\"1\")\n    msg.payload = \"Buzzer is ON\"\nelse\n    msg.payload = \"Buzzer is OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":120,"wires":[["bedc28f0.7f7028"]]},{"id":"bedc28f0.7f7028","type":"e-mail","z":"84a16f41.ef415","server":"smtp.mail.com","port":"465","secure":true,"tls":true,"name":"vassilian@mail.com","dname":"Accusé ON / OFF","x":470,"y":120,"wires":[]},{"id":"fbadb576.f63728","type":"rpi-gpio in","z":"84a16f41.ef415","name":"GPIO 17","pin":"11","intype":"tri","debounce":"25","read":false,"x":80,"y":120,"wires":[["fe094fb4.0998c"]]}]