T_H_LCD.json
[{"id":"4c9df16c.3df43","type":"tab","label":"Hello_LCD","disabled":false,"info":""},{"id":"e707b82.192fd48","type":"inject","z":"4c9df16c.3df43","name":"CLICK","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":200,"wires":[["f7dc6062.642cd"]]},{"id":"d7c01c78.74c6e","type":"function","z":"4c9df16c.3df43","name":"Display","func":"var T;\nvar H;\n\nT = msg.payload.tempc;\nH = msg.payload.humidity;\n\nvar message_temperature = \"T = \" + T;\nvar message_humidity = \"H = \" + H;\n\nmsg.payload={msgs:[\n{msg:message_temperature, pos:1},\n{msg:message_humidity, pos:1}\n]};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":200,"wires":[["149f0923.f1ce67"]]},{"id":"149f0923.f1ce67","type":"LCD20x4-I2C","z":"4c9df16c.3df43","name":"LDC","speed":"3","size":"20x4","address":"0x27","x":750,"y":200,"wires":[]},{"id":"f7dc6062.642cd","type":"openweathermap","z":"4c9df16c.3df43","name":"T et H à Sarlat","wtype":"current","lon":"1.217292","lat":"44.890891","city":"","country":"","language":"fr","x":340,"y":200,"wires":[["d7c01c78.74c6e"]]}]