test_lcd.json
[{"id":"b53ca873.6c1b18","type":"tab","label":"Hello_LCD","disabled":false,"info":""},{"id":"c477c534.6ff468","type":"inject","z":"b53ca873.6c1b18","name":"CLICK","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":80,"wires":[["408b4464.3f981c"]]},{"id":"408b4464.3f981c","type":"function","z":"b53ca873.6c1b18","name":"Display","func":"var LocalTime = new Date();\nvar Tim = \"Time=\" + LocalTime.toLocaleTimeString();\nmsg.payload={msgs:[\n{msg:\"Current Time\"},\n{msg:Tim, pos:1}\n]};\n\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":290,"y":80,"wires":[["e597383d.c567c8"],["a1e84178.841f2"]]},{"id":"e597383d.c567c8","type":"lcd","z":"b53ca873.6c1b18","pinstype":"1,1:message.payload","name":"message 1","x":500,"y":40,"wires":[]},{"id":"a1e84178.841f2","type":"lcd","z":"b53ca873.6c1b18","pinstype":"2,1:message.payload","name":"message 2","x":500,"y":120,"wires":[]}]