time_ldc.json
[{"id":"4c9df16c.3df43","type":"tab","label":"Hello_LCD","disabled":false,"info":""},{"id":"e707b82.192fd48","type":"inject","z":"4c9df16c.3df43","name":"CLICK","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":200,"wires":[["d7c01c78.74c6e"]]},{"id":"d7c01c78.74c6e","type":"function","z":"4c9df16c.3df43","name":"Display","func":"var LocalTime = new Date();\nvar Tim = \"Time=\" + LocalTime.toLocaleTimeString();\nmsg.payload={msgs:[\n{msg:\"Current Time\"},\n{msg:Tim, pos:1}\n]};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":200,"wires":[["149f0923.f1ce67"]]},{"id":"149f0923.f1ce67","type":"LCD20x4-I2C","z":"4c9df16c.3df43","name":"LDC","speed":"3","size":"20x4","address":"0x27","x":530,"y":200,"wires":[]}]